block content
    h1= "Delete a User"
    form#formRemUser(name="deleteuser",method="post",action="/deleteuser")
        input#inputFirstname(type="text", placeholder="firstname", name="firstname")
        input#inputLastName(type="text", placeholder="lastname", name="lastname")
        input#inputMobile(type="text", placeholder="mobile", name="mobile")
        button#btnSubmit(type="submit") submit
    p
    p
    a(href='/') Home